.example {
    margin-top: 43px;
    margin-bottom: 36px;
}

.example-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.example-img{
    border-radius: 50%;
}
.example-item {
    text-align: center;
}

.example-info {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(50, 50, 50, 1);
    opacity: 0.65;
    margin-top: 8px;

}